#wrapper {
	width: 888px;
}

.wrapper-full-width {
	margin-bottom: 48px;
}

/* column-wrapper */

[class*="column-wrapper"] {
	margin-bottom: 36px;
	margin-right: 36px;
}

.column-wrapper-half-width {
	width: 426px;
}

.column-wrapper-two-thirds-width {
	width: 582px;
}

.column-wrapper-one-third-width {
	width: 270px;
}

.column-wrapper-two-thirds-width .sub-column-content-third {
	width: 162px;
}

.column-wrapper-one-third-width .sub-column-content-half {
	width: 99px;
}

.column-wrapper-last {
	margin-right: 0;
}

/* column-content */

.column-content-1 {
	width: 48px;
}

.column-content-2 {
	width: 120px;
}

.column-content-3 {
	width: 192px;
}

.column-content-4 {
	width: 264px;
}

.column-content-5 {
	width: 336px;
}

.column-content-6 {
	width: 408px;
}

.column-content-7 {
	width: 480px;
}

.column-content-8 {
	width: 552px;
}

.column-content-9 {
	width: 624px;
}

.column-content-10 {
	width: 696px;
}

.column-content-11 {
	width: 768px;
}