/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

/* Styling Next and Prev buttons */

.owl-controls {
	position: absolute;
	width: 100%;
}

.gallery-slider-thumbs .owl-controls {
	top: 43px;
}

.gallery-small .gallery-slider-thumbs .owl-controls {
	top: 15px;
}

.gallery-slider-thumbs .owl-prev {
	left: -50px;
}

.gallery-slider-thumbs .owl-next {
	right: -10px;
}

.gallery-small .gallery-slider-thumbs .owl-prev {
	left: -40px;
}

.gallery-small .gallery-slider-thumbs .owl-next {
	right: -20px;
}

.owl-next,
.owl-prev {
	background: rgba(255,255,255,0.2);
	background-clip: padding-box; 
	border-radius: 9999px;
	border: 2px solid;
	display: inline-block;	
    font-size: 32px;
    height: 36px;
	line-height: 30px;
	position: absolute;
    text-align: center;
	transition: background 0.4s, border 0.4s, color 0.4s;
    width: 36px;
}

.owl-next.disabled,
.owl-prev.disabled {
	background: #fff !important;
	cursor: default !important;
}

.gallery-slider-thumbs .owl-next,
.gallery-slider-thumbs .owl-prev {
	font-size: 22px;
	height: 28px;
	line-height: 22px;
	width: 28px;
}

.gallery-slider-main .owl-prev,
.gallery-slider-main .owl-next {
	margin-top: -20px;	
}

.gallery-slider-main .owl-prev {
	left: 4%;
}

.gallery-slider-main .owl-next {
	right: 4%;
}

.owl-next:hover,
.owl-prev:hover {
	color: #fff;
}

.owl-next span {
	margin-left: 2px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-controls.clickable .owl-buttons div:hover {
	text-decoration: none;
}

/* Styling Pagination*/

.owl-page {
	margin: 0 0 10px;
}

.owl-page span {
	border: 2px solid rgba(255,255,255,0.7); 
    border-radius: 50%;
	display: block;
    height: 6px;
	transition: border-color 0.6s;
    width: 6px;
}

.owl-page span:hover,
.owl-page.active span {
	border-color: #fff;
}
 
.owl-pagination {
	position: absolute;
	right: 36px;
	top: 50%;
}
