.intro-img {
	margin: 55px auto 5px;
}

.intro-separation {
	display: block;
}

.booking-area {
	display: none;
}

.booking-area-mobile {
	display: block;
}

.news-row .box:nth-child(1) .featured-img {
	left: 0;
}
.news-row .box:nth-child(1) .news-content-wrapper {
	left: 50%;
}
.news-row .box:nth-child(2) .featured-img {
	left: 50%;
}
.news-row .box:nth-child(2) .news-content-wrapper {
	left: 0;
}

@media only screen and (max-width: 480px) {
	.featured-img.news-featured-img {
		width: 30%;
	}
	.news-content-wrapper {
		width: 70%;
	}
	.news-blog-odd .news-content-wrapper,
	.news-row .box:nth-child(1) .news-content-wrapper {
		left: 30%;
	}
	.news-blog-even .featured-img,
	.news-row .box:nth-child(2) .featured-img {
		left: 70%;
	}
	.news-featured-img  .img-learn-more-wrapper {
		display: none;
	}
}

@media only screen and (min-width: 480px) {
	.widget-booking form {
		width: 50%;
	}
	.widget-booking .submit-wrapper {
		text-align: left;
	}
}

footer [class*="column-content"] {
	margin-bottom: 24px;
}

footer .column-content-last {
	margin-bottom: 0;
}

.mobile-no-top-margin {
	margin-top: -22px;
}

.mobile-only {
	display: block;
}

.mobile-no-display {
	display: none;
}